.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
*{
  margin: 0;
  padding: 0;
}
:root{
  --primary-font-color: #111111;
  --secondary-font-color: rgba(233, 90, 8, 1);
}
.bg{
  background-color: rgb(245, 248, 255);
}
.subtitle{
  font-size: 1.36rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.text-center{
  text-align: center;
}
#bold{
  font-weight: 700;
  color: var(--primary-font-color);
}
.btn-primary{
  background-color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  padding-top: 19px;
  padding-bottom: 19px;
}

/* nav styles */
nav{
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  
  
}
.logo{
  width: 100%;
  /* height: 100%; */
}
.listed-item {
  display: flex;
  /* margin: auto; */
  align-items: center;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-right: 45px;
}
nav ul li a{
  text-decoration: none;
}
.list-it-one{
  font-size: 1rem;
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}
.list-it-two{
  font-size: 1rem;
  color: rgb(137, 135, 161);
}

/* banner styles */
.banner{
  max-width: 1140px;
  /* max-height: 460px; */
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: flex-end;
}
.banner-content{
  width: 570px;
  /* align-items: flex-end; */
  /* margin-top: 10px; */

}
.banner-title{
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#title-wc{
  color: var(--secondary-font-color);
}

.hero-pic{
  width: 50%;
}

/* plants styles */
.plants{
  max-width: 1140px;
  margin: 120px auto;
  /* margin: 30px auto; */
}
.plants-title{
  font-size: 2.7rem;
  color: var(--primary-font-color);
}
.plant-st{
  margin-bottom: 50px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card{
  width: 270px;
  /* height: 484.94px; */
}
.card-img{
  width: 100%;
}
.card button{
  width: 270px;
}

/* flowers & plants lovers */
.fpl-container{
    max-width: 1140px;
    margin: 100px auto;
    display: flex;
    gap: 50px;
}
.badge{
    margin-top: -1900px;
    margin-bottom: 450px;
    margin-left: 340px;
    width: 286px;
    height: 286px;
}
.margin-bottom{
  margin-bottom: 20px;
}

.fpl-content li{
  list-style-type: disc;
  color: rgba(0, 0, 0, 0.5);
  list-style-position: outside;
  margin-bottom: 15px;
}

/* latest deals styles */

.deals{
  max-width: 1140px;
  margin: auto;
}
.deals .subtitle{
  margin-bottom: 80px;
}
.deal-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.left {
  display: grid;
  gap: 20px;
}

.left-one,
.left-two,
.right {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  height: 100px;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  filter: brightness(60%);
}

.right {
  height: 260px;
}

/* Background images */
.left-one {
  background-image: url('../assets/deal-bloom.png');
}

.left-two {
  background-image: url('../assets/deal-ana.png');
}

.right {
  background-image: url('../assets/deal-zabo.png');
}

.deal-box-one-text {
  font-weight: 800;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.deal-box-second-text {
  font-weight: 800;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
#right-id{
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}
.right-text{
    font-size: 28px;
}

/* responsive style */
@media screen and (max-width: 576px) {
  nav ul{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    /* justify-items: left; */
  }
  .banner-content{
    /* justify-content: flex-start; */
    margin: auto;
  }
  .hero-pic{
    width: 100%;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
  .fpl-container{
    flex-direction: column;
  }
  .fpl-pic{
    width: 100%;
  }
  .fpl-image .badge{
    visibility: hidden;
  }
  .fpl-content{
    margin-left: 8px;
  }
  .deal-container{
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .left-one,
  .left-two,
  .right {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
  }
}